.fon{
	background: url(/pic/fon.jpg) repeat-x;
}
.shapka
 {
	text-indent: 0.5em;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	background-color: #3f5f8e;
	color: #312c74;
}
.spisok
{
	listЦstyle-image: url("/pic/spisok.jpg");
	
	text-indent: 0,5em;
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	color: #312c74;
	}
.greeting
{
	text-align: right;
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	color: #c4c3d8;
	background-color: #196096;
}

ul#access{display: none;}
ul#tests{display: none;}
ul#service{display: none;}

.topmenu{list-style-type:none;
	list-style-image:none;
}
.topmenu li{
	display: inline;
	border-left:1px solid grey;
	padding:0 10px;
}
li a{
	text-decoration: none;}

ul{list-style-type:none;}

a button{
	margin:0;
}
a input {
	margin:0;
}

form {
	text-align: left;	
}

select{
	width: 160px;
}

.edit {   /* класс дл€ блоков редактировани€ элементов*/
	width: 25%;
	text-align: right;
	margin:0;
	position:relative;
	display:inline-block;
	
}

.edit form{
	width:90%;
}

.edit form table{
	width:90%;
}

.main{  /* класс дл€ блока, где выводитс€ основна€ информаци€ страницы*/
	width: 60%;
	margin:0;
	position:relative;
	float:left;
}

li.regular_list{
	margin-top:5px;
}

li.regular_list a{
	display: inline;
	text-decoration: none;	
}
li.regular_list a:hover {
	background-color:transparent;
	color:grey;            /* потом поправить по макету*/
	text-decoration:underline;
}
li.regular_list a:hover img{
	background-color:#cccccc;
}

.edit_subj{
	background: #cccccc;
	width: 70%;
	text-align: right;
}
.edit_subj form{
	text-align: left;
}
.edit_subj form input{
	width: 85%;
	font-size: 1.2em;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left:3px;
}
.warning{
	color: red;
}

.add{
	display: inline;
	float:right;
}